:root {
    --primary-bg-color: #151736;
    --container-bg-color: rgb(24, 38, 88);
    --accent-color: #307dcf;
    --accent-hover-color: #0056b3;
    --text-color: #ffffff;
    --button-bg-color: #0056b3;
    --button-hover-bg-color: #004289;
    --correct-color: #4CAF50;
    --incorrect-color: #6d1c17;
    --border-color: rgb(204, 204, 204);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: small ;
    color: var(--text-color);
}

.quiz-container {
    width: 85%;
    max-width: 600px;
    background: var(--container-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Improved Responsive Styles */
@media (max-width: 1024px) {
    .quiz-container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .answers-container {
        grid-template-columns: 1fr;
    }

    #search-input, #search-button {
        width: auto;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .btn, #search-button {
        width: 100%;
        margin-top: 10px;
    }
}

#search-input, #search-button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#search-input {
    background-color: var(--primary-bg-color);
    width: calc(100% - 100px);
    display: inline-block;
}

#search-button {
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    display: inline-block;
}

#search-button:hover {
    background-color: var(--accent-hover-color);
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}


.answers-container div {

    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

/* .answers-container div:hover {
    background-color: #151539;
    color: white;
} */

.btn {
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--button-hover-bg-color);
}

#feedback, .feedback-message {
    margin-top: 20px;
    font-style: italic;
    animation: fadeIn 0.5s;
}

.feedback-message {
    padding: 10px;
    border-radius: 5px;
    color: #fff;

}

.correct {
    background-color: var(--correct-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}

#search-number-nput, #search-number-button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#search-number-input {
    background-color: var(--primary-bg-color);
    width: calc(100% - 100px);
    display: inline-block;
}

#search-number-button {
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    display: inline-block;
}

#search-number-button:hover {
    background-color: var(--accent-hover-color);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.selected-answer {
    background-color: #9a4105; /* Or any color you prefer */
    color: #ffffff; /* Adjust text color as needed */
}
